


/* ======================
   HTML RESET
   ======================
   notes:
   - for testing only
   - remove in production
   ====================== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





/* ========
   ROOT > *
   ======== */

[data-league-apps-registration-widget-root] {
	font-family: 'Raleway';
	font-weight: 300;
	font-size : 14px;
	line-height : 21px;
}



/* ========
   SECTIONS
   ======== */
   
[data-league-apps-registration-widget-root] .controls {
	padding : 0px 5px 10px 5px;
	border-bottom : 1px solid #dee2e7;
	/* background-color : #ffffff; */
}

[data-league-apps-registration-widget-root] .controls:after {
	content: "";
	display: table;
	clear: both;
}

[data-league-apps-registration-widget-root] .listings {
	padding : 25px 5px 5px 5px;
	/* background-color : #f6f7fb; */
}



/* =================
   SELECT COMPONENTS
   ================= */

[data-league-apps-registration-widget-root] .Select {
	float : left;
	width : 50%;
	padding : 10px 5px 0px 5px;
}

[data-league-apps-registration-widget-root] .Select .Select-control,
[data-league-apps-registration-widget-root] .Select .Select--multi .Select-value {
	border-radius : 0px;
}

[data-league-apps-registration-widget-root] .Select .Select-control {
	box-sizing : border-box;
	border-color : #aaaaaa;
	box-shadow : 0px 0px 5px #dee2e7;
}

[data-league-apps-registration-widget-root] .Select .Select-control:hover {
	box-shadow : 0px 0px 5px #dee2e7;
}

[data-league-apps-registration-widget-root] .Select .Select-placeholder {
	color : #333333;
}

[data-league-apps-registration-widget-root] .Select .Select-clear-zone {
	display : none;
}

[data-league-apps-registration-widget-root] .Select .Select-menu-outer {
	width : calc(100% - 10px);
	border-radius : none;
	border-color : #aaaaaa;
}



/* ==================
   LISTING COMPONENTS
   ================== */

[data-league-apps-registration-widget-root] .listing {
	padding : 5px;
}

[data-league-apps-registration-widget-root] .listing > a {
	display : block;
	border : 1px solid #dee2e7;
	padding : 10px;
	background-color : #ffffff;
	box-shadow : 0px 0px 2px #dee2e7;
	text-decoration : none;
	color : #000000;
	border-radius : 4px;
}

[data-league-apps-registration-widget-root] .listing > a:hover {
	box-shadow : 0px 0px 2px rgba(0, 0, 0, .375);
	border : 1px solid rgba(0, 0, 0, .375);
}

[data-league-apps-registration-widget-root] .listing .heading {
	margin-bottom : 3px;
	cursor : pointer;
}

[data-league-apps-registration-widget-root] .listing .title {
	text-decoration : underline;
	font-size : 16px;
	line-height : 24px;
}

[data-league-apps-registration-widget-root] .listing .master {
	
}

[data-league-apps-registration-widget-root] .listing .listing-section {
	display : block;
	width : 100%;
	padding : 5px 0px 0px 0px;
}

[data-league-apps-registration-widget-root] .listing .listing-section-heading {
	
}

[data-league-apps-registration-widget-root] .listing .la_teamPricing {
	display : block;
	width : 100%;
	float : left;
}



[data-league-apps-registration-widget-root] .listing .details:after,
[data-league-apps-registration-widget-root] .listing-section:after {
	content: "";
	display: table;
	clear: both;
}

[data-league-apps-registration-widget-root] .listing .a-is-b {
	float : left;
	margin-right : 10px;
}

[data-league-apps-registration-widget-root] .listing .a-is-b:after {
	content: "";
	display: table;
	clear: both;
}

[data-league-apps-registration-widget-root] .listing .a-is-b > div {
	float : left;
}

[data-league-apps-registration-widget-root] .listing .a-is-b > *:first-child,
[data-league-apps-registration-widget-root] .listing .description {
	color : #69748a;
}

[data-league-apps-registration-widget-root] .listing .button {
	display : inline-block;
	padding : 3px 8px;
	margin-top : 10px;
	border-radius : 2px;
	cursor : pointer;
}

[data-league-apps-registration-widget-root] .listing .title:hover,
[data-league-apps-registration-widget-root] .listing .a-is-b a:hover,
[data-league-apps-registration-widget-root] .listing .button:hover {
	opacity : .625;
}